<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'sidebar.html' %}
{% include 'header.html' %}

<div class="p-4 sm:ml-64 h-screen py-6 flex flex-col justify-center sm:py-12">
    <div class="w-4/5 relative py-3 sm:max-w-xl sm:mx-auto">
        <div class="relative px-4 py-10 bg-white mx-8 md:mx-0 rounded-3xl sm:p-10">
            <div class="max-w-md mx-auto">
                <div class="flex items-center space-x-5">
                    <div class="block pl-2 font-semibold text-xl self-start text-gray-700">
                        <h2 class="leading-relaxed">게시글 작성하기</h2>
                    </div>
                </div>

                {% if error %}
                    <p style="color: red;">{{ error }}</p>
                {% endif %}

                <form method="post" action="/create">
                    <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
                        <div class="flex flex-col">
                            <label class="leading-loose">게시글 제목</label>
                            <input type="text" name="title" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" placeholder="게시글 제목" value="{{ title }}">
                        </div>
                        <div class="flex flex-col">
                            <label class="leading-loose">블로그 URL</label>
                            <input type="url" name="url" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" placeholder="블로그 URL" value="{{ url }}">
                        </div>

                        <div class="flex flex-col">
                            <label class="leading-loose">게시글 설명</label>
                            <input type="text" name="text" class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600" placeholder="게시글 설명" value="{{ text }}">
                        </div>

                        <!--       태크      -->
                        <div class="flex flex-col">
                           <div class="flex flex-col">
                             <label class="leading-loose">주제</label>
                             <select id="select_topic" name="tag" class="border border-gray-300 rounded-full text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none">
                                <option>Choose a topic</option>
                                {%  for topic in keywords %}
                                   <option value="{{ topic }}">{{ topic }}</option>
                                {% endfor %}
                             </select>
                           </div>

                           <div class="flex flex-col">
                             <label class="leading-loose">부주제</label>
                             <select id="subtopic" name="subtag" class="border border-gray-300 rounded-full text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none">
                               <option value="None">Choose a subtopic</option>
                             </select>
                           </div>
                        </div>

                    <div class="pt-4 flex items-center space-x-4">
                      <button type="button" onclick="window.location.href='/'" class="flex justify-center items-center w-full text-gray-900 px-4 py-3 rounded-md focus:outline-none">
                        <svg class="w-6 h-6 mr-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                        Cancel
                      </button>
                      <button type="submit" class="bg-blue-500 flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none">
                        작성 완료
                      </button>
                    </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script>
    const topicSelect = document.getElementById("select_topic");
    const subtopicSelect = document.getElementById("subtopic");

    var keywords = {{ keywords | tojson }};

    topicSelect.addEventListener("change", function () {
        const selectedTopic = this.value;
        if (selectedTopic) {
            subtopicSelect.innerHTML = ""
            keywords[selectedTopic].forEach((tag) => {
                const option = document.createElement("option");
                option.value = tag;
                option.textContent = tag;
                subtopicSelect.appendChild(option);
            });
            subtopicSelect.disabled = false;
        }
    });
</script>